	<h3>Update the <%= data.name %></h3>
	
	<form action="" method="post" class="pure-form pure-form-stacked">
		<input type="text" name="name" value="<%= data.name %>">
		<textarea name="desc" id="" cols="30" rows="10"><%= data.desc %></textarea>
		<input type="submit" value="Update">
	</form>
</div>