html {
  background-color: black;
  overflow: hidden;
  width:100%;
  height:100%;
}

* {
  margin: 0px;
  padding: 0px;
}

table {
  border-spacing: 0px;
  border: none;
}

td {
  padding: 0px;
}

#game{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
}

#map{
  position:absolute;
  z-index:10;
}

#content {
  position: absolute;
  z-index: 15;
}

#characters{
  position:absolute;
  z-index: 20;
}

#characters .perso{
  direction: block;
  position: absolute;
  z-index: 30;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.case {
  width: 90px;
  height: 90px;
  background-color: #0d0a02;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #063415;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #063415;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #063415;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #063415;
  margin: 0px;
  padding: 0px;
}

#joueur {
  width: 80px;
  height: 80px;
  /*background-color: blue;*/
  background-position: center;
  background-size:80%;
  background-repeat: no-repeat;
  position: relative;
  top: 393px;
  left: 585px;
  z-index: 50;
}

#cache {
  background-color: black;
  left: 0px;
  right: 0;
  top: 0px;
  bottom: 0;
  z-index: 100;
  position: absolute;
  opacity: 0.5;
}

#life-bar{
  display: block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:5px;
  z-index:10000000;
}

#life-bar .life{
  display: block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:#FF8C44;
}


