<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Labyrinthe</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/game.css">

</head>
<body>

<div id="rooms">
    <ul>

    </ul>
    <a href="#" class="button">New room</a>
</div>

<div id="game">
    <div id="map">
        <div id="content"></div>
        <div id="characters"></div>
    </div>
    <div id="joueur"></div>
</div>

<script>

</script>

</body>
</html>
<script src="/librairies/jquery.js"></script>
<script src="/librairies/preload.js"></script>
<script src="http://localhost:1337/js/dependencies/sails.io.js"></script>
<script src="/objects/config.js"></script>
<script src="/objects/Loader.js"></script>
<script src="/objects/Labyrinthe.js"></script>
<script src="/objects/Perso.js"></script>
<script src="/objects/PersoHero.js"></script>
<script src="/objects/PersoProta.js"></script>
<script src="/objects/PersoMechant.js"></script>
<script src="/main.js"></script>
